Source: lp-ddns
Section: custom
Priority: optional
Maintainer: Jonathan Sélea <jonathan@selea.se>
Package: lp-ddns
Version: 0.3a
Standard-Version: 0.3a
Architecture: all
Essential: no
Depends-On: curl bash
Homepage: https://linux.pizza
Vcs-Git: https://git.selea.se/jonathan/lp-dyndns
Description: Tool for managing Dynamic DNS toghether with FreeDNS.linux.pizza
